<div class="login-page">
  <div class="login-card">
    <div class="login-header">
      <img src="assets/imgs/logo.png" alt="Clinic Logo" class="login-logo" />
      <h1>Vitalis Clinic</h1>
      <p class="subtitle">Acesse sua conta</p>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="login-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          required
          [(ngModel)]="email"
          placeholder="Digite seu e-mail"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          [(ngModel)]="password"
          placeholder="Digite sua senha"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Entrar
      </button>
    </form>

    <!-- Botão para tela de registro -->
    <p class="switch-text">
      Não tem uma conta?
      <button class="link-button" type="button" (click)="goToRegister()">
        Crie uma agora
      </button>
    </p>

    <p class="footer-text">Cuidando da sua saúde, sempre.</p>
  </div>
</div>
