<div class="menu">
  <button mat-button [matMenuTriggerFor]="patientMenu">
    <div class="menu-title">Pacientes</div>
  </button>
  <mat-menu #patientMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="navigateTo('patients/new-patient')">
      Cadastro
    </button>

    <button mat-menu-item (click)="navigateTo('patients/list')">
      Listagem
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="scheduleMenu">
    <div class="menu-title">Agendar</div>
  </button>
  <mat-menu #scheduleMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="navigateTo('schedules/month')">
      Calendário
    </button>
  </mat-menu>
</div>
