<div class="container__banner">
  <div class="banner__left">
    <div class="banner__left__title">
      <h1>Vitalis Clinic Cuidando da sua saúde, sempre.</h1>
    </div>
    <div class="banner__desc">
      <p>
        Vitalis Clinic é um espaço dedicado à saúde integral, combinando
        excelência médica e atendimento humanizado. Nossa equipe
        multidisciplinar oferece serviços em diversas especialidades, garantindo
        um tratamento personalizado para cada paciente. Com comprometimento e
        inovação, buscamos promover bem-estar e qualidade de vida em cada
        consulta.
      </p>
    </div>
  </div>
  <div class="banner__img">
    <img src="assets/imgs/banner.jpg" alt="" />
  </div>
</div>
