<div class="container__banner">
  <div class="banner__left">
    <div class="banner__left__title">
      <h1>Vitalis Clinic Taking care of your health, always.</h1>
    </div>
    <div class="banner__desc">
      <p>
        Vitalis Clinic is a space dedicated to comprehensive healthcare,
        combining medical excellence and humanized care. Our multidisciplinary
        team offers services in several specialties, ensuring personalized
        treatment for each patient. With commitment and innovation, we seek to
        promote well-being and quality of life in each consultation.
      </p>
    </div>
  </div>
  <div class="banner__img">
    <img src="assets/imgs/banner.jpg" alt="" />
  </div>
</div>
