<app-text></app-text>
<div class="container__card__component">
  <app-card
    cardTitle="Psicologia"
    cardDesc="Nossos psicólogos ajudam você a compreender suas emoções, pensamentos e comportamentos, promovendo o bem-estar por meio da terapia. Com uma abordagem humanizada, auxiliamos no desenvolvimento pessoal e na superação de desafios emocionais."
    iconCover="assets/imgs/psicologia.png"
  ></app-card>
  <app-card
    cardTitle="Psiquiatria"
    cardDesc="Nossos psiquiatras avaliam, diagnosticam e tratam transtornos mentais com uma abordagem médica personalizada. Utilizamos terapias modernas e, quando necessário, medicação para garantir o equilíbrio da sua saúde mental."
    iconCover="assets/imgs/psychiatry.png"
  ></app-card>
  <app-card
    cardTitle="Neurologia"
    cardDesc="Nossos neurologistas são especializados no diagnóstico e tratamento de condições que afetam o sistema nervoso. Oferecemos um cuidado abrangente para garantir a saúde do seu cérebro e a qualidade de vida."
    iconCover="assets/imgs/neurology.png"
  ></app-card>
</div>
