<app-text></app-text>
<div class="container__card__component">
  <app-card
    cardTitle="Psychology"
    cardDesc="Our psychologists help you understand your emotions, thoughts and behaviors, promoting well-being through therapy. With a humanized approach, we assist in personal development and in overcoming emotional challenges."
    iconCover="assets/imgs/psicologia.png"
  ></app-card>
  <app-card
    cardTitle="Psychiatry"
    cardDesc="Our psychiatrists assess, diagnose and treat mental disorders with a personalized medical approach. We use modern therapies and, when necessary, medication to ensure the balance of your mental health.
  "
    iconCover="assets/imgs/psychiatry.png"
  ></app-card>
  <app-card
    cardTitle="Neurology"
    cardDesc="Our neurologists specialize in diagnosing and treating conditions that affect the nervous system. We provide comprehensive care to ensure your brain health and quality of life."
    iconCover="assets/imgs/neurology.png"
  ></app-card>
</div>
