.container__navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  background-color: #F9FAEC;
}

.navbar__logo {
  position: absolute;
  left: 300px;
}

.navbar__logo img {
  max-height: 50px;
}

.navbar__list ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__list ul li a {
  text-decoration: none;
  color: #000;
}

.navbar__buttons {
  position: absolute;
  right: 305px;
  display: flex;
  gap: 10px; /* espaçamento entre os botões */
}

.navbar__buttons button {
  padding: 5px 20px;
  background-color: #006D33;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navbar__buttons button:hover {
  background-color: #00421f;
}
