<div class="container__navbar">
  <div class="navbar__logo">
    <img src="assets/imgs/logo.png" alt="" />
  </div>

  <div class="navbar__list">
    <ul>
      <li>
        <a href="http://www.linkedin.com/in/henriquesouza-silva">Linkedin</a>
      </li>
      <li><span>•</span></li>
      <li><a href="https://github.com/henrique0120">Github</a></li>
    </ul>
  </div>

  <div class="navbar__buttons">
    <button (click)="navigateTo()">
      {{homeButton}}
    </button>
    <button class="logout" (click)="logout()">
      Logout
    </button>
  </div>
</div>
